/**
Your Code
 */

.photos {
    counter-reset: result;
}

.photo-item:nth-child(n + 9) {
    position: absolute;
    left: -10000px;
}

.photo-item:nth-child(n + 10) {
    counter-increment: result;
}

.photo-item:last-child {
    position: relative;
    left: 0;
    top: 0;
}

.photo-item:nth-child(n+10):before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    content: '+ ' counter(result);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999999;
}