*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout{
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.border{
  border: solid 1px black;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.news{
  flex: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.Space{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.newAB{
  gap: 1rem;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.newC{
  flex: 1;
}

@media screen and (max-width: 479px) {

  .newAB{
    display: contents;
  }

  .main{
    display: flex;
    flex-direction: column;
  }

  .news{
    display: contents;
  }

  .Space{
    width: 100%;
    height: 60%;
  }

  .new-item{
    flex: 1;
  }
  .newA { order: 0; }
  .Space { order: 1; }
  .newB { order: 2; }
  .newC { order: 3}
}