img{
    object-fit: cover;
    max-width: 100%;
}

.container{
    height: 800px;
    width: 500px;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.side{
    height: 800px;
    width: 500px;
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    top: 0;
}

.back{
    transform: rotateY(180deg);
}

.container:hover{
    transform: rotateY(180deg);
}